# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
npm-debug.log*

# =========================
# Variables de entorno
# =========================
.env
.env.local
.env.*.local

# =========================
# Archivos temporales
# =========================
*.tmp
*.temp

# =========================
# Node (por si agregas herramientas después)
# =========================
node_modules/

# =========================
# Archivos de sistema
# =========================
*.swp
*.swo